body{
    background-color: beige;
}

h1 {
    color: blue;
    transition : color 0.3s ease-in-out;
}

.sexy-font{
    font-family: 'Courier New', Courier, monospace;
}

.clicked {
    color: tomato;
}